<h1>投稿の編集</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, '内容' %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.submit '更新' %>
  </div>
<% end %>
