<h1 class="text-center mb-4">投稿一覧</h1>

<div class="d-flex justify-content-center jscroll">
  <div class="post-container"> <!-- 追加 -->
    <% posts_to_display = @posts.is_a?(Array) ? @posts : @posts.order(created_at: :desc) %>
    <% posts_to_display.each do |post| %>
      <div class="card mb-4 shadow"> <!-- shadow を追加 -->
        <% if post.image.attached? %>
          <div class="card-img-top">
            <%= image_tag(resize_image(post.image, width: 300, height: 300)) %>
          </div>
        <% end %>
        <div class="card-body">
          <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
          <p class="card-text">by <%= link_to post.user.name, user_profile_path(post.user) %></p>
          <p><%= post.body.truncate(100) %></p>  <!-- 最初の100字まで本文の内容を表示 -->
          <% post.tags.each do |tag| %>
            <%= link_to tag.tag, tag_path(tag.tag), class: "badge badge-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
    <%= paginate @posts %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({ // 追加したdivのclass名と合わせる
      contentSelector: '.jscroll',
      nextSelector: '.next a',  // 次ページリンクのセレクタ
      loadingHtml: '読み込み中',
      padding: 10
    });
  });
</script>

