<h1>新しい投稿</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, '内容' %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div>
    <div class='form-group'>
        <%= form.collection_check_boxes(:tag_ids, Tag.all, :id, :tag) do |tag| %>
            <div class='form-check'>
                <%= tag.label class: 'form-check-label' do %>
                    <%= tag.check_box class: 'form-check-input' %>
                    <%= tag.text %>
                <% end %>
            </div>
        <% end %>
    </div>
  </div>
    <%= form.submit '投稿' %>
  </div>
<% end %>