<h1>新しい投稿</h1>
<%= form_with(model: @post, local: true) do |form| %>
  <div>
    <%= form.label :title, 'タイトル' %>
    <%= form.text_field :title %>
  </div>
  <div>
    <%= form.label :body, '内容' %>
    <%= form.text_area :body %>
  </div>
  <div>
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <div id="tags-container">
    <!-- デフォルトのタグプルダウンはここにはありません -->
  </div>

  <button type="button" id="add-tag-button">タグを追加</button>

  <%= link_to '新しいタグを作成', new_tag_path %>

  <div>
    <%= form.submit '投稿' %>
  </div>
<% end %>
