<h1>タグ一覧</h1>

<% @tags.each do |tag| %>
  <div>
    <%= link_to tag.tag, tag_path(tag.tag) %>
  </div>
<% end %>

<h2>タグの追加</h2>
<%= form_with(url: tags_path, method: :post, local: true) do |f| %>
  <%= f.label :tag, "タグ名" %>
  <%= f.text_field :tag %>
  <%= f.submit "タグを追加" %>
<% end %>
