<h1><%= @tag.tag %> に関連する投稿</h1>

<ul>
  <% @posts.each do |post| %>
    <li>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.body.truncate(100) %></p> <!-- 本文を100文字で切り詰めて表示 -->
      <p>投稿者: <%= post.user.name %></p>
    </li>
  <% end %>
</ul>

<%= link_to '投稿一覧へ戻る', posts_path %>
