<div class="text-center"> 
  <h1 class="mb-4">ユーザー管理画面</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>アイコン</th> 
      <th>名前</th>
      <th>メールアドレス</th>
      <th>アカウントステータス</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <% if user.avatar.attached? %>
            <%= link_to image_tag(user.avatar, class: 'user-avatar-small', alt: user.name), admin_user_path(user), class: 'user-avatar-link' %>
          <% else %>
            <%= link_to image_tag('default_avatar.png', class: 'user-avatar-small', alt: user.name), admin_user_path(user), class: 'user-avatar-link' %>
          <% end %>
        </td>
        <td><%= link_to user.name, admin_user_path(user) %></td>
        <td><%= user.email %></td>
        <td><%= user.is_deleted ? '退会済み' : '有効' %></td>
      </tr>
    <% end %>
  </tbody>
</table>
