<h1>ユーザー詳細</h1>

<div class="user-details">
  <p><strong>名前:</strong> <%= @user.name %></p>
  <p><strong>メールアドレス:</strong> <%= @user.email %></p>
  <p><strong>プロフィール:</strong> <%= @user.introduction %></p>
  <p><strong>会員ステータス:</strong> <%= @user.is_deleted ? '退会済み' : '有効' %></p>
</div>

<div class="user-actions">
  <%= link_to 'プロフィール編集', edit_admin_user_path(@user), class: "btn btn-secondary" %>
  <% if @user.is_deleted %>
  <%= link_to '復帰処理', rejoin_admin_user_path(@user), method: :patch, data: { confirm: '本当にこのユーザーを復帰させますか？' }, class: "btn btn-success" %>
  <% else %>
  <%= link_to '退会処理', unsubscribe_admin_user_path(@user), method: :patch, data: { confirm: '本当にこのユーザーを退会させますか？' }, class: "btn btn-danger" %>
  <% end %>
</div>

<h2>投稿一覧</h2>
<ul>
  <% @posts.each do |post| %>
    <li>
      <h3><%= post.title %></h3> <!-- 例: 投稿のタイトル -->
      <p><%= post.body %></p> <!-- 例: 投稿の本文 -->
      <%= image_tag(resize_image(post.image, width: 300, height: 300)) if post.image.attached? %>
      <!-- 他の投稿の詳細情報もここに表示 -->
      <%= link_to '削除', admin_post_path(post), method: :delete, data: { confirm: '本当にこの投稿を削除しますか？' }, class: 'btn btn-danger' %>
    </li>
  <% end %>
</ul>