<h1>プロフィール編集</h1>

<%= form_with(model: @user, url: users_path, method: :patch) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :introduction %>
    <%= form.text_field :introduction %>
  </div>
  <div class="form-group">
    <%= form.submit '編集内容を保存', class: "btn btn-success" %>
    <%= link_to "退会する", users_confirm_delete_path, method: :get, class: "btn btn-danger ms-3" %>
  </div>
<% end %>