<div class="my-page-container container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar, class: 'user-avatar img-fluid rounded-circle' %>
      <% else %>
        <%= image_tag 'default_avatar.png', class: 'user-avatar img-fluid rounded-circle' %>
      <% end %>

      <% unless current_user == @user %>
        <% if current_user.followees.include?(@user) %>
          <%= button_to "フォロー解除", users_follow_path(followed_id: @user.id), method: :delete, class: "btn btn-danger mt-3" %>
        <% else %>
          <%= button_to "フォロー", users_follow_path(followed_id: @user.id), method: :post, class: "btn btn-primary mt-3" %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-8">
      <h1><%= @user.name %> のプロフィール</h1>
      <p><strong>プロフィール:</strong> <%= @user.introduction %></p>

      <div class="follow-stats mt-3">
        <p>
          <%= link_to "#{@user.followees.count} フォロー中", user_followees_path(@user) %>
          <br>
          <%= link_to "#{@user.followers.count} フォロワー", user_followers_path(@user) %>
        </p>
      </div>

      <% if current_user == @user %>
        <div class="user-actions mt-3">
          <%= link_to "プロフィール編集", edit_users_path, class: "btn btn-secondary" %>
          <%= link_to "いいね一覧", likes_users_path, class: "btn btn-info" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center jscroll mt-5">
  <div class="post-container">
    <h3><%= @user.name %>の投稿一覧</h3>

    <% posts_to_display = @posts.is_a?(Array) ? @posts : @posts.order(created_at: :desc) %>
    <% posts_to_display.each do |post| %>
      <div class="card mb-4 shadow">
        <div class="row no-gutters">
          <div class="col-md-4">
            <div style="height: 200px; overflow: hidden;">
              <div class="d-flex align-items-center">
                <% user_profile_url = user_profile_path(post.user) %>
                <% if post.user.avatar.attached? %>
                  <%= link_to image_tag(post.user.avatar, class: 'user-avatar', style: 'width: 50px; height: 50px;'), user_profile_url %>
                <% else %>
                  <%= link_to image_tag('default_avatar.png', class: 'user-avatar', style: 'width: 50px; height: 50px;'), user_profile_url %>
                <% end %>
                <%= link_to post.user.name, user_profile_url, class: "ml-2" %>
              </div>
              <% if post.image.attached? %>
                <%= image_tag(resize_image(post.image, width: 300, height: 300), style: "object-fit: cover; width: 100%; height: 100%;") %>
              <% else %>
                <div style="background-color: #f8f9fa; width: 100%; height: 100%;"></div>
              <% end %>
            </div>
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= link_to post.title, post_path(post) %></h5>
              <p><%= post.body.truncate(100) %></p>
              <% post.tags.each do |tag| %>
                <%= link_to tag.tag, tag_path(tag.tag), class: "badge badge-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @posts.respond_to?(:total_pages) %>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({
      contentSelector: '.jscroll',
      nextSelector: '.next a',
      loadingHtml: '読み込み中',
      padding: 10
    });
  });
</script>

