<div class="my-page-container container mt-5">
  <div class="row">
    <div class="col-md-4 text-center">
      <% if current_user.avatar.attached? %>
        <%= image_tag current_user.avatar, class: 'user-avatar img-fluid rounded-circle' %>
      <% else %>
        <%= image_tag 'default_avatar.png', class: 'user-avatar img-fluid rounded-circle' %>
      <% end %>

      <% unless current_user == @user %>
        <% if !current_user.followings.include?(@user) %>
          <%= link_to 'フォロー', follows_path(user_id: @user.id), method: :post, class: "btn btn-primary mt-3" %>
        <% else %>
          <%= link_to 'フォロー解除', users_follow_path(@user), method: :delete, class: "btn btn-danger mt-3" %>
        <% end %>
      <% end %>
    </div>

    <div class="col-md-8">
      <p><strong>メールアドレス:</strong> <%= current_user.email %></p>
      <p><strong>名前:</strong> <%= current_user.name %></p>
      <p><strong>自己紹介:</strong> <%= current_user.introduction.presence || "自己紹介はまだ設定されていません。" %></p>

      <div class="follow-stats mt-3">
        <p>
          <%= link_to "#{current_user.followees.count} フォロー中", user_followees_path(current_user) %>
          <br>
          <%= link_to "#{current_user.followers.count} フォロワー", user_followers_path(current_user) %>
        </p>
      </div>

      <div class="user-actions mt-3">
        <%= link_to "プロフィール編集", edit_users_path, class: "btn btn-secondary" %>
        <%= link_to "いいね一覧", likes_users_path, class: "btn btn-info" %>
      </div>
    </div>
  </div>
<div class="d-flex justify-content-center jscroll mt-5">
  <div class="post-container">
    <h3><%= current_user.name %>の投稿一覧</h3>

    <% posts_to_display = @posts.is_a?(Array) ? @posts : @posts.order(created_at: :desc) %>
    <% posts_to_display.each do |post| %>
      <%= render 'public/posts/post', post: post %>
    <% end %>

    <% if @posts.respond_to?(:total_pages) %>
      <%= paginate @posts %>
    <% end %>
  </div>
</div>


<script>
  $(document).on('turbolinks:load', function() {
    $('.jscroll').jscroll({
      contentSelector: '.jscroll',
      nextSelector: '.next a',
      loadingHtml: '読み込み中',
      padding: 10
    });
  });
</script>
