<!DOCTYPE html>
<html>
  <head>
    <title>Activemeets</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'tag_selection' %>

  </head>

  <body>
    <% if notice %>
      <p class="notice"><%= notice %></p>
    <% end %>
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">

        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "トップ", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "投稿一覧",  posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
          <%= form_with(url: search_posts_path, method: :get, local: true) do |form| %>
            <%= form.select :query_type, options_for_select([['投稿', 'posts'], ['ユーザー', 'users']], selected: params[:query_type]) %>
            <%= form.text_field :query, placeholder: "検索キーワード" %>
            <%= form.submit "検索" %>
          <% end %>
          </li>

        <% if user_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "マイページ", users_path, class: "nav-link" %>
          </li>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
        <% elsif admin_signed_in? %>
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <%= link_to "ユーザー一覧", admin_users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "nav-link" %>
          </li>
        </ul>
        <% else %>
        <ul class="navbar-nav ml-auto">
           <li class="nav-item">
            <%= link_to "新規登録", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "nav-link" %>
          </li>
        </ul>
        <% end %>
        </ul>
      </div>
    </nav>
    <% if user_signed_in? %>
         <div class="text-center">ようこそ <%= current_user.name %> </div>
      <% end %>
    <%= yield %>
  </body>
</html>
